<a href="https://colab.research.google.com/github/NneomaOkafor/HousingCAD/blob/main/EDA_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Load file and generate summaries

In [ ]:
import pandas as pd

# First Dataframe
df1 = pd.read_csv("/content/drive/MyDrive/Data Analysis/FINAL PROJECT/Python files/Average_home_prices.csv")
# Second data frame
df2 = pd.read_csv("/content/drive/MyDrive/Data Analysis/FINAL PROJECT/Python files/monthly_growth_rate_HPI (2).csv")
#Third data frame
df3= pd.read_csv ("/content/drive/MyDrive/Data Analysis/FINAL PROJECT/Python files/balanced_can_md.csv")
print("\nFirst DataFrame:")
print(df1)

print("\nSecond DataFrame:")
print(df2)

print("\nThird DataFrame:")
print(df3)
# Create a data profile summary table
def summarize(df):
    return pd.DataFrame({
        "Column Name": df.columns,
        "Data Type": df.dtypes.values,
        "Missing Values": df.isnull().sum().values,
        "Unique Values": df.nunique().values,
    })

# Generate summaries
summary_df1 = summarize(df1)
summary_df2 = summarize(df2)
summary_df3 = summarize(df3)
# Add DataFrame name to each summary
summary_df1["/content/drive/MyDrive/Data Analysis/FINAL PROJECT/Python files/Average_home_prices.csv"] = "df1"
summary_df2["/content/drive/MyDrive/Data Analysis/FINAL PROJECT/Python files/monthly_growth_rate_HPI (2).csv"] = "df2"
summary_df3["/content/drive/MyDrive/Data Analysis/FINAL PROJECT/Python files/balanced_can_md.csv"] = "df3"

# Combine into one
combined_summary = pd.concat([summary_df1, summary_df2, summary_df3], ignore_index=True)

# Save combined summary
combined_summary.to_csv("combined_data_summary.csv", index=False)

print(combined_summary)

First DataFrame:
       Date   Average*
0    Jan-05   $231,609
1    Feb-05   $241,074
2    Mar-05   $246,071
3    Apr-05   $250,547
4    May-05   $253,006
..      ...        ...
239  Dec-24   $690,432
240  Jan-25   $669,345
241  Feb-25   $667,957
242  Mar-25   $678,217
243  Apr-25   $679,866

[244 rows x 2 columns]

Second DataFrame:
       Date Aggregate Composite MLS HPI
0    Jan-05                    $243,500
1    Feb-05                    $244,100
2    Mar-05                    $245,100
3    Apr-05                    $245,800
4    May-05                    $246,400
..      ...                         ...
239  Dec-24                    $712,400
240  Jan-25                    $710,700
241  Feb-25                    $704,400
242  Mar-25                    $697,600
243  Apr-25                    $689,200

[244 rows x 2 columns]

Third DataFrame:
           Date   GDP_new   BSI_new   GPI_new   SPI_new    IP_new   NDM_new  \
0    1981-01-01  0.001301  0.000791 -0.000379  0.002247 -0.002047 -0.003661
1    1981-02-01  0.003043  0.003461  0.004369  0.002204  0.004222  0.001718
2    1981-03-01 -0.000820 -0.000917 -0.002830  0.000468  0.000000  0.011182
3    1981-04-01  0.011765  0.014779  0.017099  0.008327  0.018938  0.015594
4    1981-05-01 -0.008364 -0.011973 -0.010776 -0.006796 -0.017627 -0.017293
..          ...       ...       ...       ...       ...       ...       ...
526  2024-11-01 -0.001984 -0.002234 -0.005472 -0.000801 -0.010078 -0.014354
527  2024-12-01  0.002730  0.003080  0.001372  0.003190  0.001464 -0.004877
528  2025-01-01  0.004150  0.004452  0.010103  0.002131  0.013690 -0.007063
529  2025-02-01 -0.001612 -0.002054 -0.002979 -0.001147 -0.001147  0.005149
530  2025-03-01  0.001504  0.001571  0.001043  0.001734  0.001387  0.001496

       DM_new  OILP_new   CON_new  ...  CPI_MINUS_FOO_BC  CPI_MINUS_FEN_BC  \
0   -0.000161 -0.001704  0.002161  ...          0.023086          0.016461
1    0.012859 -0.001119 -0.001467  ...          0.010320          0.014185
2   -0.002767 -0.016587 -0.007440  ...          0.026344          0.019921
3    0.013487  0.032934  0.016858  ...          0.005982          0.007859
4   -0.003982 -0.047584  0.009033  ...          0.011858          0.009737
..        ...       ...       ...  ...               ...               ...
526  0.005209 -0.012572  0.003854  ...          0.000000          0.000000
527 -0.022613  0.009563  0.002549  ...          0.001323          0.001365
528  0.020481  0.021018  0.004265  ...         -0.001323         -0.003416
529  0.012161 -0.024651 -0.007115  ...          0.009223          0.007501
530 -0.000093  0.002506  0.000198  ...          0.000000          0.002036

     CPI_GOO_BC  CPI_DUR_BC  CPI_SERV_BC  CRED_T_discontinued  \
0      0.010111    0.004930     0.029917             0.013175
1      0.010010    0.013029     0.012552             0.013506
2      0.025567    0.023982     0.014448             0.012590
3      0.003876    0.000000     0.010194             0.015212
4      0.009625    0.012559     0.008081             0.014773
..          ...         ...          ...                  ...
526    0.002787   -0.001951    -0.001199                  NaN
527   -0.010493   -0.009814     0.005384                  NaN
528    0.012579    0.018564    -0.009592                  NaN
529    0.011050    0.005792     0.009592                  NaN
530    0.000687    0.004801     0.002384                  NaN

     CRED_HOUS_discontinued  CRED_MORT_discontinued  CRED_CONS_discontinued  \
0                  0.007571                0.006705                0.009307
1                  0.006908                0.005045                0.010629
2                  0.005650                0.003655                0.009610
3                  0.006308                0.004757                0.009372
4                  0.006101                0.003497                0.011210
..                      ...                     ...                     ...
526                     NaN                     NaN                     NaN
527                     NaN                     NaN                     NaN
528                     NaN                     NaN                     NaN
529                     NaN                     NaN                     NaN
530                     NaN                     NaN                     NaN

     CRE_BUS_discontinued
0                0.017244
1                0.018252
2                0.017514
3                0.021468
4                0.020771
..                    ...
526                   NaN
527                   NaN
528                   NaN
529                   NaN
530                   NaN

[531 rows x 411 columns]
                     Column Name Data Type  Missing Values  Unique Values  \
0                           Date    object               0            244
1                       Average*    object               0            244
2                           Date    object               0            244
3    Aggregate Composite MLS HPI    object               0            239
4                           Date    object               0            531
..                           ...       ...             ...            ...
410          CRED_T_discontinued   float64              54            477
411       CRED_HOUS_discontinued   float64              54            477
412       CRED_MORT_discontinued   float64              54            477
413       CRED_CONS_discontinued   float64              54            477
414         CRE_BUS_discontinued   float64              54            477

    /content/drive/MyDrive/Data Analysis/FINAL PROJECT/Python files/Average_home_prices.csv  \
0                                                  df1
1                                                  df1
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
410                                                NaN
411                                                NaN
412                                                NaN
413                                                NaN
414                                                NaN

    /content/drive/MyDrive/Data Analysis/FINAL PROJECT/Python files/monthly_growth_rate_HPI (2).csv  \
0                                                  NaN
1                                                  NaN
2                                                  df2
3                                                  df2
4                                                  NaN
..                                                 ...
410                                                NaN
411                                                NaN
412                                                NaN
413                                                NaN
414                                                NaN

    /content/drive/MyDrive/Data Analysis/FINAL PROJECT/Python files/balanced_can_md.csv
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                  df3
..                                                 ...
410                                                df3
411                                                df3
412                                                df3
413                                                df3
414                                                df3

[415 rows x 7 columns]

Inspect date format

In [ ]:
print(df1['Date'].unique()[:10])
print(df2['Date'].unique()[:10])
print(df3['Date'].unique()[:10])

from pandas.tseries.offsets import MonthBegin

# Fix df1 and df2 dates (assume all years like '05' mean '2005')
df1['Date'] = pd.to_datetime(df1['Date'], format='%b-%y') + MonthBegin(0)
df2['Date'] = pd.to_datetime(df2['Date'], format='%b-%y') + MonthBegin(0)
df3['Date'] = pd.to_datetime(df3['Date'])

# Convert all date columns to datetime
df1['Date'] = pd.to_datetime(df1['Date'])
df2['Date'] = pd.to_datetime(df2['Date'])
df3['Date'] = pd.to_datetime(df3['Date'])

['Jan-05' 'Feb-05' 'Mar-05' 'Apr-05' 'May-05' 'Jun-05' 'Jul-05' 'Aug-05'
 'Sep-05' 'Oct-05']
['Jan-05' 'Feb-05' 'Mar-05' 'Apr-05' 'May-05' 'Jun-05' 'Jul-05' 'Aug-05'
 'Sep-05' 'Oct-05']
['1981-01-01' '1981-02-01' '1981-03-01' '1981-04-01' '1981-05-01'
 '1981-06-01' '1981-07-01' '1981-08-01' '1981-09-01' '1981-10-01']

Perform natural join with dates

In [ ]:
# Select needed columns from df1 and df2
df1_cols = [col for col in df1.columns if col.strip().startswith("Average")]
df1_subset = df1[['Date'] + df1_cols]
df2_subset = df2[['Date', 'Aggregate Composite MLS HPI']]

# Merge with df3
df3 = pd.merge(df3, df1_subset, on='Date', how='left')
df3 = pd.merge(df3, df2_subset, on='Date', how='left')

# Reorder columns: Date, df1 cols, df2 col, then remaining df3 original cols (excluding duplicates)
ordered_cols = (
    ['Date'] +
    df1_cols +
    ['Aggregate Composite MLS HPI'] +
    [col for col in df3.columns if col not in (['Date'] + df1_cols + ['Aggregate Composite MLS HPI'])]
)

df3 = df3[ordered_cols]

# Save to CSV
df3.to_csv("/content/drive/MyDrive/Data Analysis/FINAL PROJECT/Python files/merged_output_3.csv", index=False)

In [ ]:
import pandas as pd

# Load your data
df = pd.read_csv("/content/drive/MyDrive/Data Analysis/FINAL PROJECT/Python files/merged_output_3.csv")
# Display summary stats
print(df.describe(include='all'))

              Date   Average* Aggregate Composite MLS HPI     GDP_new  \
count          531        243                         243  531.000000
unique         531        243                         238         NaN
top     2025-03-01   $231,609                    $326,500         NaN
freq             1          1                           2         NaN
mean           NaN        NaN                         NaN    0.001875
std            NaN        NaN                         NaN    0.007817
min            NaN        NaN                         NaN   -0.109011
25%            NaN        NaN                         NaN   -0.000131
50%            NaN        NaN                         NaN    0.001996
75%            NaN        NaN                         NaN    0.004349
max            NaN        NaN                         NaN    0.055510

           BSI_new     GPI_new     SPI_new      IP_new     NDM_new  \
count   531.000000  531.000000  531.000000  531.000000  531.000000
unique         NaN         NaN         NaN         NaN         NaN
top            NaN         NaN         NaN         NaN         NaN
freq           NaN         NaN         NaN         NaN         NaN
mean      0.002000    0.001268    0.002161    0.001259    0.000467
std       0.008883    0.011557    0.007183    0.013332    0.012842
min      -0.123894   -0.159704   -0.090330   -0.163341   -0.147858
25%      -0.000573   -0.003099    0.000442   -0.004257   -0.005707
50%       0.002226    0.001321    0.002313    0.001420    0.001095
75%       0.005040    0.007179    0.003794    0.008556    0.007257
max       0.064754    0.077833    0.056499    0.055787    0.057697

            DM_new  ...  CPI_MINUS_FOO_BC  CPI_MINUS_FEN_BC  CPI_GOO_BC  \
count   531.000000  ...        531.000000        531.000000  531.000000
unique         NaN  ...               NaN               NaN         NaN
top            NaN  ...               NaN               NaN         NaN
freq           NaN  ...               NaN               NaN         NaN
mean      0.001259  ...          0.002213          0.002106    0.002045
std       0.024162  ...          0.004824          0.003826    0.006698
min      -0.314751  ...         -0.020726         -0.010014   -0.034396
25%      -0.007852  ...          0.000000          0.000000   -0.001434
50%       0.002116  ...          0.001833          0.001848    0.001986
75%       0.012380  ...          0.004983          0.004208    0.005750
max       0.180029  ...          0.026344          0.022033    0.029853

        CPI_DUR_BC  CPI_SERV_BC  CRED_T_discontinued  CRED_HOUS_discontinued  \
count   531.000000   531.000000           477.000000              477.000000
unique         NaN          NaN                  NaN                     NaN
top            NaN          NaN                  NaN                     NaN
freq           NaN          NaN                  NaN                     NaN
mean      0.001021     0.002435             0.005553                0.005919
std       0.007776     0.004597             0.003147                0.003516
min      -0.024577    -0.013629            -0.003022               -0.009821
25%      -0.003423     0.000000             0.003644                0.003994
50%       0.000000     0.001905             0.005157                0.005252
75%       0.004306     0.004373             0.007076                0.007665
max       0.032372     0.029927             0.023270                0.031100

        CRED_MORT_discontinued  CRED_CONS_discontinued  CRE_BUS_discontinued
count               477.000000              477.000000            477.000000
unique                     NaN                     NaN                   NaN
top                        NaN                     NaN                   NaN
freq                       NaN                     NaN                   NaN
mean                  0.006114                0.005461              0.005238
std                   0.003836                0.004787              0.004609
min                  -0.013530               -0.019545             -0.005388
25%                   0.003860                0.002237              0.002683
50%                   0.005557                0.005434              0.004844
75%                   0.007867                0.008619              0.007328
max                   0.035325                0.022588              0.033938

[11 rows x 413 columns]

Data summary of joined data

In [ ]:
import pandas as pd

#Fourth data frame
df4= pd.read_csv ("/content/drive/MyDrive/Data Analysis/FINAL PROJECT/Python files/merged_output_3.csv")

print("\nFourth DataFrame:")
print(df4)
# Create a data profile summary table
def summarize(df):
    return pd.DataFrame({
        "Column Name": df.columns,
        "Data Type": df.dtypes.values,
        "Missing Values": df.isnull().sum().values,
        "Unique Values": df.nunique().values,
    })

# Generate summaries
summary_df4 = summarize(df4)

print(summary_df4)

# Save combined summary
summary_df4.to_csv("joined_data_summary.csv", index=False)

Fourth DataFrame:
           Date   Average* Aggregate Composite MLS HPI   GDP_new   BSI_new  \
0    1981-01-01        NaN                         NaN  0.001301  0.000791
1    1981-02-01        NaN                         NaN  0.003043  0.003461
2    1981-03-01        NaN                         NaN -0.000820 -0.000917
3    1981-04-01        NaN                         NaN  0.011765  0.014779
4    1981-05-01        NaN                         NaN -0.008364 -0.011973
..          ...        ...                         ...       ...       ...
526  2024-11-01   $697,565                    $713,200 -0.001984 -0.002234
527  2024-12-01   $690,432                    $712,400  0.002730  0.003080
528  2025-01-01   $669,345                    $710,700  0.004150  0.004452
529  2025-02-01   $667,957                    $704,400 -0.001612 -0.002054
530  2025-03-01   $678,217                    $697,600  0.001504  0.001571

      GPI_new   SPI_new    IP_new   NDM_new    DM_new  ...  CPI_MINUS_FOO_BC  \
0   -0.000379  0.002247 -0.002047 -0.003661 -0.000161  ...          0.023086
1    0.004369  0.002204  0.004222  0.001718  0.012859  ...          0.010320
2   -0.002830  0.000468  0.000000  0.011182 -0.002767  ...          0.026344
3    0.017099  0.008327  0.018938  0.015594  0.013487  ...          0.005982
4   -0.010776 -0.006796 -0.017627 -0.017293 -0.003982  ...          0.011858
..        ...       ...       ...       ...       ...  ...               ...
526 -0.005472 -0.000801 -0.010078 -0.014354  0.005209  ...          0.000000
527  0.001372  0.003190  0.001464 -0.004877 -0.022613  ...          0.001323
528  0.010103  0.002131  0.013690 -0.007063  0.020481  ...         -0.001323
529 -0.002979 -0.001147 -0.001147  0.005149  0.012161  ...          0.009223
530  0.001043  0.001734  0.001387  0.001496 -0.000093  ...          0.000000

     CPI_MINUS_FEN_BC  CPI_GOO_BC  CPI_DUR_BC  CPI_SERV_BC  \
0            0.016461    0.010111    0.004930     0.029917
1            0.014185    0.010010    0.013029     0.012552
2            0.019921    0.025567    0.023982     0.014448
3            0.007859    0.003876    0.000000     0.010194
4            0.009737    0.009625    0.012559     0.008081
..                ...         ...         ...          ...
526          0.000000    0.002787   -0.001951    -0.001199
527          0.001365   -0.010493   -0.009814     0.005384
528         -0.003416    0.012579    0.018564    -0.009592
529          0.007501    0.011050    0.005792     0.009592
530          0.002036    0.000687    0.004801     0.002384

     CRED_T_discontinued  CRED_HOUS_discontinued  CRED_MORT_discontinued  \
0               0.013175                0.007571                0.006705
1               0.013506                0.006908                0.005045
2               0.012590                0.005650                0.003655
3               0.015212                0.006308                0.004757
4               0.014773                0.006101                0.003497
..                   ...                     ...                     ...
526                  NaN                     NaN                     NaN
527                  NaN                     NaN                     NaN
528                  NaN                     NaN                     NaN
529                  NaN                     NaN                     NaN
530                  NaN                     NaN                     NaN

     CRED_CONS_discontinued  CRE_BUS_discontinued
0                  0.009307              0.017244
1                  0.010629              0.018252
2                  0.009610              0.017514
3                  0.009372              0.021468
4                  0.011210              0.020771
..                      ...                   ...
526                     NaN                   NaN
527                     NaN                   NaN
528                     NaN                   NaN
529                     NaN                   NaN
530                     NaN                   NaN

[531 rows x 413 columns]
                     Column Name Data Type  Missing Values  Unique Values
0                           Date    object               0            531
1                       Average*    object             288            243
2    Aggregate Composite MLS HPI    object             288            238
3                        GDP_new   float64               0            531
4                        BSI_new   float64               0            531
..                           ...       ...             ...            ...
408          CRED_T_discontinued   float64              54            477
409       CRED_HOUS_discontinued   float64              54            477
410       CRED_MORT_discontinued   float64              54            477
411       CRED_CONS_discontinued   float64              54            477
412         CRE_BUS_discontinued   float64              54            477

[413 rows x 4 columns]